<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="ass.css">
    <style>
        button{
        margin-left: 700px;
        margin-top: 30px;
        text-align: center;
        box-sizing: border-box;
        background-color:goldenrod;
        }
    </style>
</head>
    <header>
        <div class="icon">
            <ul>
                <li class="active"><a href=#><i class="fa fa-home"></i>HOME</a></li>
                
                <li><a href="submit.html"><i class="fa fa-send"></i>SUBMIT</a></li>
                <li><a href="index.html "><i class="fa fa-question-circle"></i>DOUBT</a></li>
            </ul>
        </div>
    </header>
    <div class="main">
        <a href="assignment-html.html"><img src="html logo.jpeg" width="150" height="150"></a>
        <a href="assignment-css.html"><img src="css-logo.jpeg" width="150" height="150"></a>
        <a href="assignment-js.html"><img src="js-logo.jpeg" width="150" height="150"></a>
        <a href="assignment-python.html"><img src="python-logo.jpeg" width="150" height="150"></a>
    </div>
<footer>
        <b>H</b>OPE <br>
        You Enjoy The Assignments!
</footer>
<button onclick="window.location.href='dashboard.html'"><font size="40px" color="red">Back</font></button>
</body>
</html>